@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #2c3131;
  color: white;
  height: 100%;

}

.container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.selectors {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  margin-top: 0;
  font-size: large;
  justify-content: center;
  /* height: 80%; */

}

.color-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 20px;
}

.color-header {
  color: rgb(44, 39, 39);
  margin: 20px;
}

.canvas-container {
  height: 100%;
  width: 70%;
  display: flex;
  margin-top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-fluid {
  /* margin: 50px; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-bottom: 40px;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: saturate(180%) blur(10px);
  /* opacity: 0.5; */
  /* width: 98%; */
}

canvas {
  background: rgb(255, 255, 255);
  border: 3px solid rgba(0, 0, 0, 0.5);
  width: 40rem;
  height: 26rem;
  cursor: grabbing;
  box-shadow: 20px 20px 50px rgb(0, 0, 0);
  border-radius: 20px;
  cursor: url(./assets/ico/pen-cursor.ico) 0 50, pointer;
}

.clear-button {
  padding: 30px;
  position: absolute;
  right: 200px;
}

.clear-button button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background: linear-gradient(to left, purple, rgb(187, 62, 187));
  border-radius: 15px;
  width: 100%;
}

.clear-button button:hover {
  color: black;
  background-color: white;
}

canvas:active {
  border-color: rgb(151, 151, 151);
  box-shadow: rgba(164, 164, 164, 0.56) 0px 2px 10px 4px;
}

@media screen and (max-width: 700px) {
  .selectors {
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }

  canvas {
    background: white;
    margin-top: 0px;
    width: 95vw;
    height: 78vh;
    cursor: grabbing;
  }

  button {
    position: relative;
    right: -90px;
    bottom: -180px;
  }
}