html{
    height: 100%;
  }
  
  body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
  }
  
  canvas {
    background: #000000;
    border: 3px solid rgba(192, 192, 192, 0.5);
    width: 40rem;
    height: 24rem;
    cursor: grabbing;
  }
  
  canvas:active {
    border-color: rgb(192, 192, 192);
    cursor: grabbing;
  }