@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #2c3131;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectors {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #eea959, #e68a22);
  border-radius: 50px;
  padding-right: 40px;
}

.color-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 20px;
}

.color-header {
  color: rgb(44, 39, 39);
  margin: 20px;
}

.canvas-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

canvas {
  background: rgb(255, 255, 255);
  border: 3px solid rgba(0, 0, 0, 0.5);
  width: 40rem;
  height: 26rem;
  cursor: grabbing;
  box-shadow: 20px 20px 50px rgb(0, 0, 0);
  border-radius: 20px;
  cursor: url(./assets/ico/pen-cursor.ico) 0 50, pointer;
}

.clear-button {
  padding: 30px;
  position: absolute;
  right: 200px;
}

.clear-button button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background: linear-gradient(to left, purple, rgb(187, 62, 187));
  border-radius: 15px;
  width: 100%;
}

.clear-button button:hover {
  color: black;
  background-color: white;
}

canvas:active {
  border-color: rgb(192, 192, 192);
}

@media screen and (max-width: 700px) {
  .selectors {
    width: 96%;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
  }
  canvas {
    background: white;
    margin-bottom: 10px;
    width: 95vw;
    height: 70vh;
    cursor: grabbing;
  }
  
  .canvas-container button {
    position: relative;
    right: -90px;
    bottom: -180px;
  }
  
  .github-button-container {
    position: relative;
    top: 0;
  }
}
@media screen and (max-width: 550px) {
  .selectors {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 200px;
  }
  
  .color-header{
    font-size: 15px;
    padding: 0;
    margin: 10px;
  }

  .color-selection {
    margin: 0;
  }

  .github-button-container {
    position: relative;
    top: 0;
  }
}

.clear-download-undo-button button {
  background: unset;
  border: unset;
  cursor: pointer;
}

.clear-download-undo-button .clear {
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background: linear-gradient(to left, purple, rgb(187, 62, 187));
  border-radius: 15px;
  width: 100%;
}

.clear-download-undo-button .undo{
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background: linear-gradient(to left, rgb(15, 12, 67), rgb(139, 81, 228));
  border-radius: 15px;
  width: 100%;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 450px;
  display: grid;
  gap: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-content .input-name {
  padding: 1rem;
  border: 2px solid #2c3131;
  font-size: 1rem;
  font-weight: bold;
}

.modal-content .input-name:focus {
  border: 2px solid #bb3ebb;
  outline: none;
}


.clear-download-undo-button {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  /* Temporary workaround for responsive issue to be fixed */
}

.label-input {
  display: grid;
  gap: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 1rem;
}

.download-list-formats {
  display: flex;
  align-items: center;
  gap: 50px;

}

.download-format-control {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  cursor: pointer;
}

.download-format-control:focus-within {
  color: #bb3ebb;
}

.download-format-control input[type=radio] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.download-format-control input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #bb3ebb;
  background-color: CanvasText;
}

.download-format-control input[type=radio]:checked::before {
  transform: scale(1);
}

.download-cancel {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.download-cancel button {
  cursor: pointer;
  border: none;
  font-size: 20px;
  height: fit-content;
}

.btn-cancel {
  padding: 0;
  color: #2c3131;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 15px;
  background: unset;
}

.btn-download {
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  background: linear-gradient(to left, purple, rgb(187, 62, 187));
  border-radius: 15px;
}


.error {
  -webkit-animation: shake 0.2s ease-in-out 0s 2;
  animation: shake 0.2s ease-in-out 0s 2;
  border: 2px solid red !important;
}

@-webkit-keyframes shake {
  0% {
    margin: 0;
  }

  25% {
    margin: 0 0.5rem;
  }


  75% {
    margin: 0 -0.5rem;
  }

  100% {
    margin: 0;
  }
}

@keyframes shake {
  0% {
    margin: 0;
  }

  25% {
    margin: 0 0.5rem;
  }

  75% {
    margin: 0 -0.5rem;
  }

  100% {
    margin: 0;
  }
}

input[type="color"] {
  border-radius: 5px;
  padding: 0;
  border: 0px solid #DDD;
}

input[type="color"]::-moz-color-swatch {
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

/* position relative not work in media query after this  */
/* .github-button-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
} */

.shareBtnDiv{
  position: fixed;
  bottom: 3%;
  right: 3%;
}

#shareBtn{
  position: relative;
  border-radius: 50%;
  padding: 1.6rem;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #e1dfdf;
}

#shareBtn img{
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  translate: -52% -50%;
}

#shareBtn:hover{
  background-color: #898289;
  transform:scale(1.1);
}

#allOptions{
  display: none;
  position: absolute;
  top: -15.5rem;
  padding-bottom: 4.5rem;
  padding-top: 2rem;
  z-index: -1;
  border-radius: 20px 20px 30px 30px;
  background-color: #aca8a8;
  width: 70px;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  right: -9px;
}

#allOptions a{
  background: none;
  border: none;
  width: 20px;
  padding-left: 15px;
  cursor: default;
}

#copyCopy{
  position: relative;
}

#copyStatDiv{
  position: absolute;
  font-size: 9px;
  white-space: nowrap;
  top: 0;
  left: -4.5rem;
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(222, 218, 218);
  display: none;
}